# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# server/
# web/
# dependencies
**/node_modules/

# next.js
**/.next/
/out/



# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files

**/venv/
**/__pycache__/
**/uploads/
**/logs/
**/upload/





# vercel

.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
